fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
torch==2.9.1
torchvision==0.24.1
pillow
rasterio
sentinelsat
shapely
geopandas
requests
numpy
websockets
google-genai
openai
passlib[bcrypt]>=1.7.4
bcrypt==3.2.2
PyJWT
pymysql
earthengine-api
